* {
  outline: 1px solid red;
}
#magazineViewButtonContainer button span,
#magazineViewButtonContainer .toolbarButton {
  width: auto;
  height: auto;
  margin-left: -50%;
}
#documentProperties {
  border: 0;
}

#magazineContainer {
  padding-top: 10px;
  /* margin-bottom: 40px; */
  text-align: center;
  overflow: hidden;
  /* margin: 20px 0px 70px 0px; */
  height: calc(100% - 50px);
}
#download {
  border: 0;
}

.se-pre-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
  width: 100%;
}

#magazine {
  margin: 0 auto !important;
  text-align: center;
  height: 100% !important;
}

#magazine .page {
  cursor: pointer;
  background-color: #fff;
}

#magazine .page-wrapper {
  background: url(pics/loader.gif) center no-repeat #fff;
  /* height: 100% !important; */
}

#magazineContainer .zoom-in .next-button,
#magazineContainer .zoom-in .previous-button {
  display: none;
}

#mainContainer {
  overflow: hidden;
}

.flipbook-toolbar {
  width: 100%;
  height: 30px;
  z-index: 15;
  padding-left: 45%;
  background: #ededed;
  position: absolute;
}

.flipbook-toolbar input {
  float: left;
  margin-top: 5px;
  width: 50px;
}

.flipbook-toolbar .next,
.flipbook-toolbar .prev,
.flipbook-toolbar .download {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-repeat: no-repeat;
  margin-top: 8px;
  margin-left: 10px;
}
.flipbook-toolbar .next {
  background-image: url(pics/alt-next.png);
}
.flipbook-toolbar .prev {
  background-image: url(pics/alt-prev.png);
}
.flipbook-toolbar .download {
  background-image: url(pics/download-png.png);
  margin-top: 5px;
}

.directions .prev-button,
.directions .next-button {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 45px;
  height: 45px;
  text-indent: -9999px;
  z-index: 9999;
  border: 0 none;
  cursor: pointer;
}

.directions .prev-button:hover,
.directions .next-button:hover {
  background-color: #e7e7e7;
}

.directions .prev-button {
  left: 0;
  background: #f7f6f6 url(pics/alt-prev.png) no-repeat center center;
}

.directions .next-button {
  right: 0;
  background: #f7f6f6 url(pics/alt-next.png) no-repeat center center;
}

.toolbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0;
  text-align: center;
}

.toolbar #toolbarViewerLeft > *,
.toolbar #toolbarViewerMiddle > *,
.toolbar #toolbarViewerRight > *,
.toolbar .findbar > * {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
}

/* #toolbarViewer button {
  float: none;
} */

#toolbarViewerLeft,
#toolbarViewerRight,
.outerCenter {
  position: static !important;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  float: none !important;
  right: auto !important;
}

#presentationMode {
  background-image: url(../images/toolbarButton-presentationMode.png);
  width: 17px;
  height: 17px;
}

#presentationMode::before {
  display: none !important;
}

#secondaryToolbarToggle {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

#secondaryToolbar {
  top: auto;
  bottom: 40px;
}

.doorHanger:before,
.doorHangerRight:before {
  border-bottom: 0;
  border-top-color: hsla(0, 0%, 0%, 0.5);
  bottom: -10px;
}

.doorHanger:after,
.doorHangerRight:after {
  border-bottom: 0;
  border-top-color: hsla(0, 0%, 32%, 0.99);
  bottom: -8px;
}

.loader {
  height: 6px;
  width: 250px;
  position: relative;
  overflow: hidden;
  background-color: #d8d8d8;
  border-radius: 3px;
  margin: 30px auto;
}
.loader:before {
  display: block;
  position: absolute;
  content: '';
  left: -250px;
  width: 250px;
  height: 6px;
  background-color: #980f20;
  animation: loading 2s linear infinite;
}
.icon {
  margin: 0 auto;
  position: relative;
  width: 100px;
  height: 80px;
}
#loaderWrapper {
  text-align: center;
}
#bookicon {
  height: 80px;
  width: 100px;
}
.title {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-size: 26px;
  line-height: 36px;
  color: #999999;
  letter-spacing: 1px;
}

@keyframes loading {
  from {
    left: -250px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
